root = true

[*]
charset = utf-8-bom
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{cs,cpp,h,hxx,ps1,psm1,cmake,txt,json,yml,yaml,xml,xaml,props,targets,csproj,sln}]
indent_style = space
indent_size = 4

[*.{yml,yaml,json}]
indent_size = 2
