* text=auto

*.sh text eol=lf
*.ps1 text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.ico binary
*.zip binary
*.7z binary
*.dll binary
*.lib binary
*.exe binary
*.pdb binary
